<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<title>cart</title>
</head>
<body>
  <div class="navbar navbar-default" style="background-color: #4361ee;">
    <div class="navbar-header">
      <h1><a id="nav" class="navbar-brand" href="/" style="font:bolder; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">APP AUTONOMY</a></h1>
      </h1>
      <a class="navbar-brand" href="/showOrders"  id="orders" >ORDERS</a>
    </div>
    <br>
  </div>
  {{{ body }}}
</body>
 <style>
    body {
  padding-top: 0px;
  color:rgb(0, 0, 0);
}
#orders{
  text-align: left;
  color:rgb(255, 255, 255);

}
.heading{
  
  font-family: 'Open Sans';
  
}
#nav{
  text-shadow: 0 -3px 3px rgba(255, 255, 255, 0.25);
  color:rgb(255, 255, 255);
  font-style:bold;
  font-family:'Open Sans';
  font-size:xx-large;
  text-align: left;
}
.card-title{
  width: 100% !important;
  height: 35px;
}
p{
  margin-right: 20px;
  text-align: right;
}
#pp th{

  padding-right:50px;
}
.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
h2 {
    text-align: center;
}
 
.icon_box{
  -webkit-text-align: center;
  text-align: center;
}

.icon_box .thumbnail{
  width: 170px;
  height: 195px;
  border-radius: 25%;
  padding: 0 !important;
}

.icon_box .thumbnail:hover{
  border: 5px solid lightgrey;
  text-decoration: none;
}

.icon_box .icon_text{
  color: white;
  font-weight: bolder;
  height:40px;
  font-size:16px;
  border-radius: 25%;
}

.img1,.img2,.img3{
  width: 400px;
  height:80px;
  padding: 0 !important;
}

.info_box{
  color: white;
  min-height: 20px;
}



.icon_box .thumbnail img{
  width: 130px;
  height: 130px;
  padding-top: 5px;
}

.icon_box .thumbnail.col1{
  background-color: #756969;
}

.icon_box .thumbnail.col2{
  background-color: #756969;
}

.icon_box .thumbnail.col3{
  background-color: #756969;
}

.icon_box .thumbnail.col4{
  background-color: #756969;
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script></html>

