<script src="../client-controllers/base-client-controller.js"></script>

<!-- Nav -->
{{!-- <nav class="navbar navbar-default" style="background-color: #7975a0;">
  <div class="navbar-header">
    <a id="nav" class="navbar-brand" href="/">APP AUTONOMY</a>
    <a class="navbar-brand" href="#"  id="orders" >ORDERS</a>
  </div>
</nav> --}}
<br>
<div class="container" align="center">
  <label class="heading"><h1>Add Database Details</h1></label>
</div>
<br>
<div class="row order-hide">
    
    <div class="col">
      <p text-align="center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button><button class="clear-cart btn btn-danger">Clear Cart</button></div>
      </p>
</div>

<div class="container" style="background-color: #e3e3e3;">
    <div class="reportingDiv ora_div" style="display:block;">
    <label><h4>Please fill the form to proceed:</h4></label><br>
    <form>
  <div class="col-md-5">
    <div class="form-group">
    <label for="th1">Database Name</label>
    <input type="text" class=" form-control db" id="getdb" name="dbname">
    
  </div>
  <div class="form-group">
    <label for="th2">PORT</label>
    <input type="number" class=" form-control port" id="port" value="5432">
  </div>
  <div class="form-group">
    <label for="th3">Master User Password</label>
    <input type="password" class="form-control" id="mpass" >
    
  </div>
  <div class="form-group">
    <label for="th4">Size</label>
    <input type="number" class="form-control" id="size" value="20">
  </div>
  <div class="form-group">
    <label for="th4">Description</label>
    <input type="text" class="form-control desc" id="descr">
  </div>

  <br>
  
  </div>
</form>
        {{!-- <form>
            <div class="reportTable-container">
                <table id="reportingTable" style="width:100%;">
                    <thead>
                        <th class="th1">Database Name</th>
                        <th class="th2">PORT</th>
                        <th class="th3">Master User Password</th>
                        <th class="th4">Size</th>
                        <th class="th5">Description</th>
                        <th class="th6"></th>
                    </thead>
                    <tr>
                      <td><input type="text" class="db" id="getdb" name="dbname"></td>
                      <td><input type="number" id="port" value="5432"></td>
                      <td><input type="password" id="mpass" ></td>
                      <td><input type="number" id="size" value="20"></td>
                      <td><input type="text" id="descr"></td>
                      <td><a href="#" data-name="db" id="dbbtn" class="add-to-cart btn btn-primary">Add to cart</a></td>
                    </tr>
                    <tbody>
                    </tbody>
                </table>
                <br><br><br>
            </div>
        </form> --}}
  </div> 
  
</div>
<br>
<br>
<div align="center">
  <a href="#" data-name="db" id="dbbtn" class="add-to-cart btn btn-primary">Add to cart</a>
</div>


   <!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">

        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" id="order-now">Order now</button>
      </div>
    </div>
  </div>
</div>

