<script src="../client-controllers/base-client-controller.js"></script>

<!-- Nav -->
<nav class="navbar navbar-default" style="background-color: #7975a0;">
  <div class="navbar-header">
    <a id="nav" class="navbar-brand" href="/">APP AUTONOMY</a>
    <a class="navbar-brand" href="#"  id="orders" >ORDERS</a>
  </div>
</nav>
<br>
<div class="container" align="center">
  <label class="heading"><h1>Add Server Details</h1></label>
</div>
<div class="row order-hide">
    <div class="col">
      <p text-align="center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button><button class="clear-cart btn btn-danger">Clear Cart</button></div>
      </p>
</div>

<div class="container" style="background-color: #e3e3e3;">
    <div class="reportingDiv ora_div" style="display:block;">
      <label><h4>Please fill the form to proceed:</h4></label><br>
      <form>
  <div class="col-md-5">
    <div class="form-group">
    <label for="th1">Server Name</label>
    <input type="text" class=" form-control server" id="getserver" name="servername" required/>
    
  </div>
  <div class="form-group">
    <label for="th2">Instance Type</label>
    <input class=" form-control inst_nm" id="inst_nm" value="t2.micro" disabled>
  </div>
  <div class="form-group">
    <label for="th3">Key File Name(.pem)</label>
    <input type="text" class="form-control kfile" id="kfile" required>
    
  </div>
  <div class="form-group">
    <label for="th4">Size of Root</label>
    <input type="number" class="form-control storage" id="storage" required>
  </div>

   <div class="form-group">
    <label for="th4">Description</label>
    <input type="text" class="form-control desc" id="desc">
  </div>

  <div class="form-group">
    <label for="th4"></label>
    
  </div>
  
  </div>
</form>
        {{!-- <form>
            <div class="reportTable-container">
                <table id="reportingTable" style="width:100%;">
                    <thead>
                        <th class="th1">Server Name</th>
                        <th class="th2">Instance Type</th>
                        <th class="th3">Key File Name(.pem)</th>
                        <th class="th4">Size of Root</th>
                        <th class="th5">Description</th>
                        <th class="th6"></th>
                    </thead>
                    <tr>
                      <td><input type="text" class="server" id="getserver" name="servername" required/></td>
                      <td><input class="inst_nm" id="inst_nm" value="t2.micro" disabled></td>
                      <td><input type="text" class="kfile" id="kfile" required></td>
                      <td><input type="number" class="storage" id="storage" required></td>
                      <td><input type="text" class="desc" id="desc"></td>
                      <td><a href="#" data-name="server" id="serverbtn" class="add-to-cart btn btn-primary">Add to cart</a></td>
                    </tr>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </form> --}}
  </div>
</div>
<br>
<br>
<div align="center">
  <a href="#" data-name="db" id="dbbtn" class="add-to-cart btn btn-primary">Add to cart</a>
</div> 

   <!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">

        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" id="order-now">Order now</button>
      </div>
    </div>
  </div>
</div>


  <style>
    body {
  padding-top: 20px;
  color:rgb(0, 0, 0);
}
#orders{
  text-align: left;
  color:rgb(0, 0, 0);

}
.heading{
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
#nav{
  text-shadow: 0 -3px 3px rgba(255, 255, 255, 0.25);
  color:rgb(0, 0, 0);
  font-style:bold;
  font-family:'Times New Roman', Times, serif;
  font-size:xx-large;
  text-align: left;
}
.card-title{
                width: 100% !important;
      height: 35px;
}
p{
  margin-right: 20px;
  text-align: right;
}
#pp th{

  padding-right:50px;
}
.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
h2 {
    text-align: center;
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>