<script src="../client-controllers/base-client-controller.js"></script>

<!-- Nav -->
<nav class="navbar navbar-default" style="background-color: #7975a0;">
  <div class="navbar-header">
    <h1><a id="nav" class="navbar-brand" href="/" style="font:bolder; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif">APP AUTONOMY</a></h1>
    </h1>
    <a class="navbar-brand" href="#"  id="orders" >ORDERS</a>
  </div>
   <br>
</nav>
<br>
{{!-- <div class="col-md-3 icon_box">
      <a href="/addDatabase" class="thumbnail col2" data-toggle="popover_info" data-full="img2">
        <div class="icon_text">Add Database</div>
        <img src="img/utility.png">
      </a>
    </div> --}}
{{!-- <div class="bg-image hover-zoom">
  <img src="/img/utility.png" class="w-100" />
</div>    --}}
<div class="container">
  <img src="img_avatar.png" alt="Avatar" class="image">
  <div class="overlay">My Name is John</div>
</div>

<div class="row order-hide">
    <div class="col">
      <p text-align="center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#cart">Cart (<span class="total-count"></span>)</button><button class="clear-cart btn btn-danger">Clear Cart</button></div>
      </p>
</div>



{{!-- <table class="show-order table"></table>


<div class="content container-fluid order-hide" style="background-color: #e3e3e3;">

    <div class="reportingDiv ora_div" style="display:block;">
      <label><h4>Add Server Details:</h4></label><br>
        <form>
            <div class="reportTable-container">
                <table id="reportingTable" style="width:100%;">
                    <thead>
                        <th class="th1">Server Name</th>
                        <th class="th2">Instance Type</th>
                        <th class="th3">Key File Name(.pem)</th>
                        <th class="th4">Size of Root</th>
                        <th class="th5">Description</th>
                        <th class="th6"></th>
                    </thead>
                    <tr>
                      <td><input type="text" class="server" id="getserver" name="servername" required/></td>
                      <td><input class="inst_nm" id="inst_nm" value="t2.micro" disabled></td>
                      <td><input type="text" class="kfile" id="kfile" required></td>
                      <td><input type="number" class="storage" id="storage" required></td>
                      <td><input type="text" class="desc" id="desc"></td>
                      <td><a href="#" data-name="server" id="serverbtn" class="add-to-cart btn btn-primary">Add to cart</a></td>
                    </tr>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </form>
  </div>

  <br><br><br>
  <div class="reportingDiv ora_div" style="display:block;">
    <label><h4>Add Database Details:</h4></label><br>
        <form>
            <div class="reportTable-container">
                <table id="reportingTable" style="width:100%;">
                    <thead>
                        <th class="th1">Database Name</th>
                        <th class="th2">PORT</th>
                        <th class="th3">Master User Password</th>
                        <th class="th4">Size</th>
                        <th class="th5">Description</th>
                        <th class="th6"></th>
                    </thead>
                    <tr>
                      <td><input type="text" class="db" id="getdb" name="dbname"></td>
                      <td><input type="number" id="port" value="5432"></td>
                      <td><input type="password" id="mpass" ></td>
                      <td><input type="number" id="size" value="20"></td>
                      <td><input type="text" id="descr"></td>
                      <td><a href="#" data-name="db" id="dbbtn" class="add-to-cart btn btn-primary">Add to cart</a></td>
                    </tr>
                    <tbody>
                    </tbody>
                </table>
                <br><br><br>
            </div>
        </form>
  </div> --}}

  {{!-- <div class="row">
  <div class="column">
<div class="container">
      Add Server Details
      <a href="https://www.w3docs.com/">
        <span class="link"></span>
      </a>
    </div>
  </div>
  <div class="column">
     <div class="container">
      Add Database Details
      <a href="https://www.w3docs.com/">
        <span class="link"></span>
      </a>
    </div> 
  </div>
</div>

   --}}
 
 <div class="container">
    <div class="row">
  <div class="col-sm-6">
    <div class="card">
     <img class="card-img-top" src="../img/server.jpg" alt="Card image cap">
      <div class="card-body"> 
        <div class="container">
        <h2 class="card-title">Add Database Details</h2>
         <a href="/addDatabase" class="btn btn-primary">Add</a>
        </div>
        
        
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card" >
       <img class="card-img-top" src="./db.png" alt="Card image cap">
      <div class="card-body">
        <div class="container">
          <h2 class="card-title">Add server Details</h2>
        <a href="/addServer" class="btn btn-primary">Add</a>
        </div>
      </div>
    </div>
  </div>
</div>
 </div>



 <!-- Modal -->
<div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="show-cart table">

        </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary"  data-dismiss="modal" id="order-now">Order now</button>
      </div>
    </div>
  </div>
</div>

<style>
  * {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container {
  position: relative;
  width: 50%;
  max-width: 300px;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
  opacity: 1;
}
    body {
  padding-top: 20px;
  color:rgb(0, 0, 0);
}
#orders{
  text-align: left;
  color:rgb(0, 0, 0);

}
#nav{
  text-shadow: 0 -3px 3px rgba(255, 255, 255, 0.25);
  color:rgb(0, 0, 0);
  font-style:bold;
  font-family:'Times New Roman', Times, serif;
  font-size:xx-large;
  text-align: left;
}
.card-title{
                width: 100% !important;
      height: 35px;
}
p{
  margin-right: 20px;
  text-align: right;
}
#pp th{

  padding-right:50px;
}
.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
h2 {
    text-align: center;
}

.icon_box{
  -webkit-text-align: center;
  text-align: center;
}
.icon_box .thumbnail{
	width: 150px;
	height: 175px;
	padding: 0 !important;
}
.icon_box .thumbnail:hover{
  border: 5px solid lightgrey;
  text-decoration: none;
}
.icon_box .icon_text{
	color: black;
	font-weight: bold;
  height:40px;
  font-size:14px;
}
.img1,.img2,.img3{
	width: 400px;
	height:80px;
	padding: 0 !important;
}
.icon_box .icon_text{
	color: black;
	font-weight: bold;
  height:40px;
  font-size:14px;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>