<script src="../client-controllers/base-client-controller.js"></script>


<table class="show-order table"></table>

<script>
function getdata(){
      // For displaying servers
      var output = ""
        + "<thead>"
        + "<th class='th1'>" + "Name" + "</th>"
        + "<th class='th1'>" + "Instance Type / Port" + "</th>"
        + "<th class='th1'>" + "Key File / Password" + "</th>"
        + "<th class='th1'>" + "Size" + "</th>"
        + "<th class='th1'>" + "Description" + "</th>"
        + "<th class='th1'>" + "Status" + "</th>"
        + "</thead>"
      $.get("/getorders").done(data => {
        for (i in data){
          if(data[i].objecttype === 'server'){
            console.log(data[i]);
            output += "<tr>"
              + "<td>" + data[i].name + "</td>" 
              + "<td>" + data[i].inst_nm +"</td>" 
              + "<td>" + data[i].kfile +  "</td>"
              + "<td>" + data[i].size + " GB" + "</td>"  
              + "<td>" + data[i].description + "</td>" 
              + "<td>" + data[i].status + "</td>"
              +  "</tr>";          
          }
          if(data[i].objecttype === 'database'){
            console.log(data[i]);
            output += "<tr>"
              + "<td>" + data[i].name + "</td>" 
              + "<td>" + data[i].port + "</td>" 
              + "<td>" + "*******" + "</td>"
              + "<td>" + data[i].size + " GB" + "</td>"  
              + "<td>" + data[i].description + "</td>"
              + "<td>" + data[i].status + "</td>" 
              +  "</tr>";          
          }                      
          }
        $(".show-order").html(output); 
        $(".order-hide").hide();                
      })
      .fail( error => {
        console.log(error);
      })   
    };

  window.onload = function() {
  getdata();
  };

</script>

  <style>
    body {
  padding-top: 20px;
  color:rgb(0, 0, 0);
}
#orders{
  text-align: left;
  color:rgb(0, 0, 0);

}
.heading{
  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}
#nav{
  text-shadow: 0 -3px 3px rgba(255, 255, 255, 0.25);
  color:rgb(0, 0, 0);
  font-style:bold;
  font-family:'Times New Roman', Times, serif;
  font-size:xx-large;
  text-align: left;
}
.card-title{
                width: 100% !important;
      height: 35px;
}
p{
  margin-right: 20px;
  text-align: right;
}
#pp th{

  padding-right:50px;
}
.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
h2 {
    text-align: center;
}


</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>